* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 60vh;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.container {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 40px;
  background-color: green;
}
input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  padding-top: 13px;
  font-size: 16px;
  border: none;
  color: blue;
}
.label-name {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  border-bottom: 2px solid black;
}
.content-name {
  position: absolute;
  transform: translateY(15px);
  top: 0px;
  left: 0px;
  transition: 0.45s;
}
.label-name::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: -3px;
  border-bottom: 3px solid blue;
  transform: translateX(-100%);
  transition: 0.45s ease;
}
.container input:focus + .label-name .content-name,
.container input:valid + .label-name .content-name {
  color: blue;
  transform: translateY(0px);
}
.container input:focus + .label-name::after,
.container input:valid + .label-name::after {
  transform: translateX(0%);
}
